<div class="search-panel">
    <form {{action 'searchAction' searchText on="submit"}}>
        {{input value=searchText}}
        <button type="submit">{{btnText}}</button>
    </form>
</div>
{{yield}}
